form {
    font-family: 'Poppins';
  }
  
  button.btn {
    background-color: var(--color-primary);
    border: none;
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
    color: #fff;
    cursor: pointer;
    width: 100%;
  }
  
  button.btn:hover {
    background-color: var(--color-secondary);
  }
  
  .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
  }
  
  input {
    padding: 0.25rem;
    font-family: 'Poppins';
  }
  
  @media screen and (min-width: 768px) {
    button.btn {
      width: auto;
    }
  }